<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/0fb25a1129.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/profile-card.css' %}">


    <link rel="apple-touch-icon" sizes="180x180" href="media/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="media/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="media/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="media/favicon_io/site.webmanifest">


    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap" rel="stylesheet">
    {% block quick_card_css %}
    {% endblock quick_card_css %}
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.2/bootstrap-float-label.min.css" />



    <base href="http://127.0.0.1:8000/">

    <title> {% block title %}
        {% endblock title %} </title>
</head>

<body>
    <div class="navbar navbar-expand-md navbar-dark bg-light rounded ">
        <a class="nav-brand nav-link font-weight-bold text-dark " href="/">MEDIOM</a>
        <a class="nav-link" href="explore/profile">Find Authors</a>
        <a class="nav-link" href="explore/post">Find Blogs</a>
        <div class="ml-auto nav">
            {% if user.is_authenticated %}

            <img src="{{user.image.url}}" alt="profile-image" style="height:30px;width:30px" class="mr-0 mb-2 mt-2 rounded-circle" />
            <a class="nav-link text-dark pl-1" href="myprofile/{{user}}" role="button">@{{user.username}}</a>
            <a class="nav-link text-danger font-weight-normal" href="/logout" role="button">logout</a>

            {% else %}
            <a class="nav-link text-primary" href="login" role="button">Login</a>
            <a class="nav-link text-primary" href="/sign_up" role="button">Signup</a>
            {% endif %}

        </div>
    </div>

    <div class="container">
        {% block content_wrap %}

        {% endblock content_wrap %}
    </div>

    <!-- /#wrapper -->



    <!-- Menu Toggle Script -->
</body>

</html>