{% extends 'basic_view.html' %}

<!--

  Login Page
-->
{% block title %}
Login | MEDIOM
{% endblock title %}
{% block content_wrap %}

<div class='container '>
    <div class="card p-2 border-0">
        <h2 class='text-center mt-2 '>Login</h2>
        <form class='specifc_anchor' action='login/login_action' method='POST'>
            {% csrf_token %}
            <div class="form-group">

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{message}}</strong>
                </div>

                <script>
                    $(".alert").alert();
                </script>

                {% endfor %}

                {% endif %}

                <label for="">User Name</label>
                <input type="text" class="form-control" name="username" id="" required aria-describedby="emailHelpId"
                    placeholder="">

            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" required name="password" id="" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
</div>

{% endblock content_wrap %}