{% extends 'basic_view.html' %} {% block wrap_class %} {% endblock wrap_class %}

<!--
Search page

-->


{% block title %}
Search | {{type}}
{% endblock title %}


{% block style %}

.has-search .form-control {
padding-left: 2.375rem;
}

.has-search .form-control-feedback {
position: absolute;
z-index: 2;
display: block;
width: 2.375rem;
height: 2.375rem;
line-height: 2.375rem;
text-align: center;
pointer-events: none;
color: #aaa;
}
{% endblock style %}

{% block content_wrap %}


<div class="container">
    <div class="input-group has-search mt-2">
        <input type="text" id="myInput" class="form-control" {% if type == 'profile' %}
            placeholder="Search Authors" {% else %}
            placeholder="Search Blogs" {% endif %}>
    </div>
    <table>
        <tbody id="myTable">

            <!--
Search query for profile

-->
            {% if type == 'profile' %}
            {% for user in data %}
            <tr>
                <div id='card' class="card mt-2 p-2">
                    <div class="row">
                        <div class="col-3 col-sm-1">
                            {% if user.image != '' %}
                            <img class="rounded-circle" style="margin: 1px; width: 50px; height: 50px;"
                                src="media/{{user.image}}" alt="Generic placeholder image" />
                            {% else %}
                            <img class="rounded-circle" style="margin: 1px; width: 50px; height: 50px;"
                                src="media/default.png" alt="Generic placeholder image" />
                            {% endif %}
                        </div>
                        <div class="col-7">
                            <div class="media-body ml-1">
                                <a class='stretched-link' href="profile/{{user.username}}">
                                    <h5 id='name' class="mt-1 mb-0" style="font-weight: bold;">{{user.first_name}}</h5>
                                </a>
                                <p class="mt-n1 text-muted mb-1">@{{user.username}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>

            {% endfor %}

            {% else %}

            <!--
search query for post

-->
            <tr>
                {% for blog in data %}
                <div class="card my-2" id='card'>
                    <div class="card-header p-1" style="background-color: transparent; border-color: #e6ecf0;">
                        
                        <h5 class="card-title ml-3 mt-2 mb-2">{{blog.title}}</h5>
                    </div>
                    <div class="card-body pt-1" style="position:relative">
                        <div class="media ">
                            <a href="profile/{{blog.author}}" >
                                <p class="text-muted font-italic  pt-2 pb-2 pr-2  mb-0">by {{blog.author_name}}</p>
                            </a>

                            <div class="media-body">
                                <img class="rounded-circle mt-2 mb-2" style="margin: 1px; width: 20px; height: 20px;"
                                    src="media/{{blog.user_pic}}" alt="Generic placeholder image" />
                            </div>
                        </div>
                        <p class="card-text">{{blog.snippet}}</p>
                        <a href="read/{{blog.id}}" class='stretched-link' style='text-decoration:none'></a>

                    </div>
                    <div class="card-footer" style="background-color: transparent; border-color: #e6ecf0;">
                        <small class="text-muted"><i>Posted on {{blog.date}}</i>
                            {% if blog.edit == 1 %}
                            <i>,Edited</i>
                            {% endif %}
                        </small>
                    </div>

                </div>
                {% endfor %}
            </tr>

            {% endif %}


        </tbody>
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#card ").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </table>


</div>
{% endblock content_wrap %}