{% extends 'basic_view.html' %} {% load static %} {% block style %} @media only
screen and (min-width: 750px) { .sign .card { width: 50%; } .sign { margin-left:
25%; } } {%endblock style %}
{% block title %}
Sign Up MEDIOM
{% endblock title %}{% block content_wrap %}



<div class="card mt-5 border-0">
    <h2 class='text-center'>Sign Up</h2>
    <div class="card-body">
        <form method="post" action="sign_up/sign_up_action " class="form-group" enctype="multipart/form-data">
            {% csrf_token %}
            <input required type="text" name="fullname" required class=" mb-2 form-control" placeholder="Name" />
            <input required type="text" name="username" required class="mb-2 form-control" placeholder="username" />

            {% if messages %}

            {% for message in messages %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{message}}</strong>
            </div>

            <script>
                $(".alert").alert();
            </script>

            {% endfor %}

            {% endif %}

            <input required type="password" placeholder="Password " name="password" required
                class="mb-2 form-control" />
            <div className="form-inline ">
                Area of Study
                <select class="form-control mb-3" id="" name="dept" id="" required>
                    {% for x in dept %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
            </div>

            <input required type="email" placeholder="email " name="email" required class="mb-2 form-control" />


            <input type="text" placeholder="Instagram id (Optional)" name="insta_id" class="mb-2 form-control" />

            <textarea name="about" id="" placeholder="About you(Optional)" class=" mb-2 w-100 form-control" cols="30"
                rows="10">
                </textarea>
            Profile Picture: <input type="file" name="profile" accept="image/*" />
            <br />
            <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
</div>

{% endblock content_wrap %}